* {
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body {
    margin: 0;
}


.navbar {
    background-color: #21222A;
    color: #61DAFB;
    display: flex;
    align-items: center;
    height: 90px;
    padding: 30px 25px;
}

.nav-left {
    display: flex;
    align-items: center;
    margin-right: auto;
}

.head1 {
    font-size: 2rem;
}

.nav-right h3 {
    color:#FFF;
}

.head1 {
    padding-left: 1rem;
}

/* MAIN CONTENT */

.main_content {
    color: #FFF;
    height: 100vh;
    padding: 30px 25px;
    background-image: url(./reactjs-icon\ 2.png);
    background-color: #282D35;
    background-repeat: no-repeat;
    background-position: right 22%;

}

.main_content h2 {
    font-size: 2rem;
}

.main_content ul > li {
    padding-block: 10px;
    max-width: 70%;
}

.main_content ul > li::marker {
    color: #61DAFB;
    font-size: 1.5rem;
}